- name: Stop nginx before changing config
  service:
    name: nginx
    state: stopped
  ignore_errors: yes

- name: Remove old listen directives
  replace:
    path: /etc/nginx/sites-available/default
    regexp: '^\s*listen.*;'
    replace: ''

- name: Set listen port to 8083
  lineinfile:
    path: /etc/nginx/sites-available/default
    line: 'listen 8083 default_server;'

- name: Start nginx
  service:
    name: nginx
    state: started


